<% provide :title, t("all_category") %>
<h1><%= t("all_category") %></h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= link_to t("create"), new_admin_category_path, class: "btn btn-primary" %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= t("stt") %></th>
          <th><%= t("Name") %></th>
          <th><%= t("action") %></th>
        </tr>
      </thead>
      <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.id %></td>
          <td><%= category.name %></td>
          <td>
            <%= link_to t("edit"), edit_admin_category_path(category),
              class: "btn btn-primary" %>
            <%= link_to t("delete"), admin_category_path(category),
              method: :delete, data: {confirm: t("message_delete")},
              class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate %>
  </div>
</div>
